body {
	background-image: url(Background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
}

div {margin-bottom:200px;}

#menu{
	position:absolute;
    top: 50%;
    left:50%;
    margin-top:-135px;
	margin-left:-157px;
	text-align:center;
}

th {
	width: 100px;
	height: 130px;
	text-decoration:none;
}

th:hover{
	background-color:#fdff3cb8; 
	border-radius:10px;
}


body {margin:0;}

ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0066cc;
}

@viewport {
    width: device-width;
    initial-scale: 1;
}

@media screen and (max-width: 767px){
	 ul {width:0%;}
}
@media screen and (min-width: 768px){
    
}
 

.lazy{
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}