body {
	/*background-color: #006699;*/
    background-image: url(../Background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
	margin:0;
}

ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(.here) {
    background-color: #111;
}

.active {
    background-color: #0066cc;
}

.here a{
    background-color: #E3E3E3;
	color:black;
}

.Live{
	font-weight:bold;
	font-family: helvetica, fantasy, "微軟正黑體";
	color: #371722;
	width: 800px;
}

img{
	width:100%; 
	display:block;
	margin-top:7%;
}

.content{
	font-family:"微軟正黑體";
	position: absolute;
	text-align:center; 
	color:white; 
	font-size: 20px; 
	margin-left:25%;
	margin-bottom:10%;
	background: none repeat scroll 0% 0% rgba(0,0,0,0.3);
	border-radius : 10px;
	box-shadow:5px 5px 6px black;
	width:50%;
}

@viewport {
    width: device-width;
    initial-scale: 1;
}

@media screen and (max-width: 767px){
	 ul {width:10%;
		 height:97%;}
	 li{height:14.4%;}
	 li a{
		 padding:70% 7px;
	 }
	 img{
		 margin-left:11%;
		 margin-bottom:5%;
		 width:89%;
	 }
	 .content{
		 margin:1%;
		 margin-left:13%;
		 width:80%;
		 background-color:none;
	 }
	 .Live{
		 width:70%;
		 margin-left:1%;
	 }
	 p {margin:5%;}
}