body {
	background-image: url(../Background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
	margin:0;
}

div {margin-bottom:50px;}

p{
	margin-left:200px;
	line-height:20px;
}

h1{
	text-align:right;
	color:white;
	font-size:100px;
	margin-top:60px;
	margin-bottom:10px;
}

h2{
	font-size:70px;
	float:left;
	margin-left:10px;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr ;
}

h3{
	font-size:30px;
	background: none repeat scroll 0% 0% rgba(0,0,0,0.3);
	text-align:center;
	color: #FFD101;
	margin-left:170px;
}

ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(.here) {
    background-color: #111;
}

li.right {float: right;}

.active {
    background-color: #0099ff;
}

.here{
    background-color: white;
	color:black;
}

.Traffic{
	font-weight:bold;
	font-family: helvetica, fantasy, "微軟正黑體";
	text-align: center;
	color: #371722;
	margin:auto;
	width: 800px;
}

.Content{
	font-size:20px;
    text-align: left;
    border:3px #EF3E4A solid;
	box-shadow:15px 15px 6px rgba(0,0,0,0.5);
	background: none repeat scroll 0% 0% rgba(400,500,300,0.6);
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
}

#route{
	float:right;
	margin-left:200px;
	height:150px;
	width:200px;
	clear-fix:right;
}
 
@media screen and (max-width: 800px){ 
    ul {position: relative;}
    li.right, li {float: none;}
    .Traffic {width:80%;}
    img {width:100%;}
}