body {
	background-image: url(../Background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
	margin:0;
}

ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {float: left;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(.here) {
    background-color: #111;
}

.active {
    background-color: #0066cc;
}

.here a{
    background-color: #E3E3E3;
	color:black;
}

h1{
	text-align:right;
	color:white;
	font-size:100px;
	margin-top:5%;
	margin-bottom:2%;
}

h2{
	font-size:70px;
	float:left;
	margin-left:1%;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
}

h3{
	font-size:30px;
	text-align:left;
	color: #055A5B;
	margin-left:170px;
}

p{
	margin-left:25%;
	line-height:20px;
	font-size:20px;
}

img{
	margin:5%;
}
.Traffic{
	font-weight:bold;
	font-family: helvetica, fantasy, "微軟正黑體";
	text-align: center;
	color: #371722;
	margin:auto;
	width: 800px;
}

.Content{
    text-align: left;
    border-radius:10px;
	box-shadow:15px 15px 6px rgba(0,0,0,0.5);
	background: none repeat scroll 0% 0% rgba(400,500,300,0.4);
    width: 100%;
	margin-bottom:2%;
    padding: 20px;
}

#route{
	float:right;
	margin-left:200px;
	height:150px;
	width:200px;
	clear-fix:right;
}
 
@viewport {
    width: device-width;
    initial-scale: 1;
}

@media screen and (max-width: 767px){
	 ul {width:10%;
		 height:97%;}
	 li{height:14.4%;}
	 li a{
		 padding:70% 7px;}
	 h1{
		 font-size:50px;
		 margin-left:6%;
		 text-align:left;
	 }
	 h2{
		 font-size:30px;
		 float:none;
		 margin:0;
		 writing-mode: horizontal-tb;
		 writing-mode: horizontal-bt;
	 }
	 h3{
		 font-size:20px;
		 margin-left:1%;
	 }
	 p{
		font-size:15px;
		text-align:center;
		margin-left:0;
	 }
	 .Traffic{
		 width:70%;
		 margin-left:12%;
		 margin-right:13%;
	 }
	 img{
		 width:100%;
	 }
}