body {
	background-image: url(../Background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
	margin:0;
}

ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(.here) {
    background-color: #111;
}

.active {
    background-color: #0066cc;
}

.here a{
    background-color: #E3E3E3;
	color:black;
}

p{
	line-height:20px;
}

h1{
	text-align:right;
	color:white;
	font-size:100px;
	margin-top:5%;
	margin-bottom:2%;
}

h2{
	font-size:70px;
	float:left;
	margin-left:1%;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr ;
}

h3 a{
	font-size:30px;
	text-decoration:none;
}

h3 a:hover{
	font-size:30px;
	transition:all 0.5s ease;
}

img{
	border-width: 10px;
	border-style: solid;
	border-color: white;
	width:250px;
	height:200px;
}

.detailbox{
	width:270px;
	line-height:50px;
	padding:20px;
	/*border:2px green solid;*/
	float:left;
	height: 220px;
}

.Food{
	font-weight:bold;
	font-family: helvetica, fantasy, "微軟正黑體";
	text-align: center;
	color: #371722;
	margin:auto;
	width: 800px;
}

.Content1{
	font-size:20px;
    text-align: left;
    border:3px #F0CF61 solid;
	box-shadow:15px 15px 6px rgba(0,0,0,0.5);
	background: none repeat scroll 0% 0% rgba(400,500,300,0.6);
    margin-bottom: 50px;
	width:100%;
    padding: 20px;
    height: 520px;
}

.Content2{
	font-size:20px;
    text-align: left;
    border:3px #F0CF61 solid;
	box-shadow:15px 15px 6px rgba(0,0,0,0.5);
	background: none repeat scroll 0% 0% rgba(400,500,300,0.6);
    margin-bottom: 50px;
	width:100%;
    padding: 20px;
	height: 1560px;
}
.Content3{
	font-size:20px;
    text-align: left;
    border:3px #F0CF61 solid;
	box-shadow:15px 15px 6px rgba(0,0,0,0.5);
	background: none repeat scroll 0% 0% rgba(400,500,300,0.6);
    margin-bottom: 50px;
	width:100%;
    padding: 20px;
	height: 2080px;
}
.Content4{
	font-size:20px;
    text-align: left;
    border:3px #F0CF61 solid;
	box-shadow:15px 15px 6px rgba(0,0,0,0.5);
	background: none repeat scroll 0% 0% rgba(400,500,300,0.6);
    margin-bottom: 50px;
	width:100%;
    padding: 20px;
	height: 780px;
}

@viewport {
    width: device-width;
    initial-scale: 1;
}

@media screen and (max-width: 767px){
	 ul {width:10%;
		 height:97%;}
	 li{height:14.4%;}
	 li a{
		 padding:70% 7px;}
	 h1{
		 font-size:50px;
		 margin-left:6%;
		 text-align:left;
	 }
	 h2{
		 font-size:30px;
		 float:none;
		 margin:0;
		 writing-mode: horizontal-tb;
		 writing-mode: horizontal-bt;
	 }
	 h3{
		 font-size:20px;
		 margin-left:1%;
	 }
	 .Food{
		 width:70%;
		 margin-left:15%;
		 margin-right:15%;
	 }
	 .Content1{
		 font-size:15px;
		 height:100%;
	 }
	 .Content2{
		 font-size:15px;
		 height:100%;
	 }
	 .Content3{
		 font-size:15px;
		 height:100%;
	 }
	 .Content4{
		 font-size:15px;
		 height:100%;
	 }
	 .detailbox{
		 float:none;
		 width:100%;
		 margin-left:0%;
		 line-height:3%;
		 padding:2%;
		 height:0%;
	 }
	 img{
		border-width: 0px;
		border-style: none;
		border-color: none;
		width:150px;
		height:150px;
	 }
	 body {
		margin:0;
		padding:0;
		background: #000 url(../sky.png) center center fixed no-repeat;
		-moz-background-size: cover;
		background-size: cover;
	 }
}
@media screen and (min-width: 768px){
    
}