body {
	background-image: url(../Background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
	margin:0;
}

div {   margin-top: 15px;
        float:left;
}

.div1{
	width:25%;
}
.div2{
	width:60%;
}
.div3{
	width:15%;
}


/*navbar*/
ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0066cc;
}

/*card*/
.card-container {
  -webkit-perspective: 700;
  -moz-perspective: 700;
  perspective: 700;
}

.card {
  margin:20px;
  width: 300px;
  height: 750px;
  font-family:"微軟正黑體";

  color: #fff;
  transition: all 0.6s ease;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  positon: relative;
  float:left;
}

.front , .back {
  background-color: rgb(0,0,0,0.5);
  border-radius : 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 700px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow:5px 5px 6px black;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

h2,p{
    text-align: left
    font-family: Microsoft JhengHei;
    margin-left: 5%;

}

/*RDM*/

@viewport {
    width: device-width;
    initial-scale: 1;
}

@media screen and (max-width: 767px){
	 .card {margin: 0px;}
	 ul {width:10%;
		 height:97%;}
	 li{height:14.4%;}
	 li a{
		 padding:70% 7px;}
	 div{margin-top:1%;}
	 p{margin-bottom:5%;}
	 .div1{width:12%;}
	 .div2{width:80%;}
	 .div3{width:8%;}
	 body {
		 background-size:device-width device-height;
	 }
}
@media screen and (min-width: 768px){
    
}

/*個人介紹細節編輯*/
#cheng{
    width:200px; 
    height: 200px;
    border-radius:50%;
    object-fit: cover;
    margin:13%;
}