body {
	background-image: url(../BackGround.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
	margin:0;
}

div {   margin-top: 15px;
        float:left;
}


/*navbar*/
ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #0099ff;
}

li.right {float: right;}

/*card*/
.card-container {
  -webkit-perspective: 700;
  -moz-perspective: 700;
  perspective: 700;
}

.card {
  margin: 20px; 
  width: 300px;
  height: 700px;

  color: #fff;
  transition: all 0.6s ease;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  positon: relative;

}
.front , .back {
  background-color: rgb(0,0,0,0.3);
  border-radius : 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 700px;
  

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  box-shadow:5px 5px 6px black;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

body{overflow-y:hidden;}/*隱藏卷軸*/

h2,p{
    text-align: left
    font-family: Microsoft JhengHei;
    margin: 20px;

}

/*RDM*/
@media screen and (max-width: 1200px){ 
    ul {position: relative;}
    li.right,li {float: none;}
    body{overflow-y:auto ;}
	.div1{width:0%;}
	.div2{width:100%;}
	.div3{width:0%;}
}

/*個人介紹細節編輯*/
#cheng{
    width:200px; 
    height: 200px;
    border-radius:50%;
    object-fit: cover;
    margin:30px;
}