body {
	background-image: url(../Background.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed; 
	margin:0;
}

ul {
	font-family:"微軟正黑體";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(.here) {
    background-color: #111;
}

.active {
    background-color: #0066cc;
}

.here a{
    background-color: #E3E3E3;
	color:black;
}

p.tab{
	margin-left:200px;
	line-height:20px;
}

h1{
	text-align:left;
	color:white;
	font-size:100px;
	margin-top:5%;
	margin-bottom:2%;
}

h2{
	font-size:70px;
	float:left;
	margin-left:1%;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
}

h3{
	font-size:30px;
	color:#E54B4B;
	margin-left:170px;
}

.change{
	background-color:rgba(0,0,0,0.5); 
	color:white;
}

.Graduate{
	font-weight:bold;
	font-family: helvetica, fantasy, "微軟正黑體";
	text-align: center;
	color: #371722;
	margin:auto;
	width: 800px;
}

.Content{
    text-align: left;
    border:3px #00B28B solid;
	background: none repeat scroll 0% 0% rgba(400,500,300,0.6);
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
	box-shadow:15px 15px 6px rgba(0,0,0,0.5);
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-bottom: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
 	width:650px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    float: left;
    border-style: solid;
    border-color: #F0CF61;
    color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@viewport {
    width: device-width;
    initial-scale: 1;
}

@media screen and (max-width: 767px){
	 ul {width:10%;
		 height:97%;}
	 li{height:14.4%;}
	 li a{
		 padding:70% 7px;}
	 .Graduate{
		 width:70%;
		 margin-left:12%;
	 }
	 h1{
		 font-size:50px;
		 margin-left:6%;
		 text-align:left;
	 }
	 h2{
		 font-size:30px;
		 float:none;
		 margin:0;
		 writing-mode: horizontal-tb;
		 writing-mode: horizontal-bt;
	 }
	 h3{
		 font-size:20px;
		 margin-left:1%;
	 }
	 p{
		font-size:15px;
		margin-left:0;
	 }
	 p.tab{
		 margin-left:10%;
	 }
	 .dropdown-content {
		 width:90%;
	 }
}
@media screen and (min-width: 768px){
    
}